@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    padding-top: calc(env(safe-area-inset-top) * 0) !important;
    padding-bottom: calc(env(safe-area-inset-bottom) * 0) !important;
  }
}

@layer utilities {
  .no-safe-area {
    padding-top: calc(env(safe-area-inset-top) * 0) !important;
    padding-bottom: calc(env(safe-area-inset-bottom) * 0) !important;
  }
}

@layer utilities {
  .fill-safe-area {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@font-face {
  font-family: "GeneralSans";
  src: url(../src/assets/fonts/GeneralSans-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "GeneralSans";
  src: url(../src/assets/fonts/GeneralSans-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "GeneralSans";
  src: url(../src/assets/fonts/GeneralSans-Semibold.otf);
  font-weight: 600;
}

@font-face {
  font-family: "GeneralSans";
  src: url(../src/assets/fonts/GeneralSans-Bold.otf);
  font-weight: 700;
}

@theme {
  --font-generalsans: "GeneralSans", sans-serif;
}
