@import "tailwindcss";

:root {
    --color-neutral-900: oklch(20.5% 0 0);
  }
  
  /* Global background for iOS Safari safe area */
  html,
  body {
    background: var(--color-neutral-900);
  }
  
  @layer utilities {
    .no-safe-area {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-top: calc(env(safe-area-inset-top) * 0) !important;
      padding-bottom: calc(env(safe-area-inset-bottom) * 0) !important;
    }
}

@font-face {
    font-family: "GeneralSans";
    src: url(../src/assets/fonts/GeneralSans-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "GeneralSans";
    src: url(../src/assets/fonts/GeneralSans-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: "GeneralSans";
    src: url(../src/assets/fonts/GeneralSans-Semibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: "GeneralSans";
    src: url(../src/assets/fonts/GeneralSans-Bold.otf);
    font-weight: 700;
}

@theme {
    --font-generalsans: 'GeneralSans', sans-serif;
}